*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #D9D9D9;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}

.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-lista-item-logo{
    display: inline;
    margin: 0 150px;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 5px;
}