*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabeçalho{
    background-color: #4EBFE9;
    color: white;
    display: flex;
    justify-content: space-between;
}

.cabeçalho-imagem{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 40% 16px;
    font-size: 24px;
}

.GLB-imagem{
    width: 20%;
}

.GLB{
    background-image: linear-gradient(#4EBFE9, #FFFFFF 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.GLB-div{
    width: 40%;
    font-size: 18px;
}

.GLB-titulo{
    padding: 24px 0;
}

.criador-imagem{
    width: 120px;
}

.criador-icone{
    width: 24px;
}

.criador-div{
    text-align: center;
}

.criadores-titulo{
    text-align: center;
    padding: 70px 0;
}

.criadores-todos{
    display: grid;
    grid-template-columns: 50% 50%;
}

.rodape{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.rodape-imagem{
    height: 140px;
}

.rodape-slogan{
    color: white;
    display: inline-block;
    margin: 3% 10px;
    font-size: 24px;
}