*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #d9d9d9;
    color: black;
    display: flex;
    justify-content: space-between;
}

.cabeçalho-imagem{
    width: 8%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 40% 16px;
    font-size: 24px;
}